body {
  background-color: black;
  color: aliceblue;
  border: 2px;
  border-radius: 10px;
}
h1 {
  background-color: rgb(52, 165, 42);
  color: rgb(5, 5, 107);
  border: 3px solid brown;
  -webkit-text-stroke: 1px yellow;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}
h2 {
  color: rgb(47, 0, 255);
  -webkit-text-stroke: px aliceblue;
  border: 3px soild brown;
  border-radius: 10px;
  border-left: 5px rgb(172, 20, 20);
  margin-bottom: 30px;
}
h3 {
  color: rgb(255, 61, 81);
  margin-bottom: 30px;
}
audio {
  width: 100%;
  color: blue;
  border-radius: 30px;
  box-shadow: 0px 0px 40px;
  margin-bottom: 20px;
}

del {
  background-color: aliceblue;
  color: rgb(114, 104, 10);
}
.fav_movie {
  background-color: chartreuse;
  color: rgb(255, 0, 0);
  -webkit-text-stroke: 1px;
  border-left: 5px solid black;
  text-align: center;
  border: 2px solid brown;
  padding: 15px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 50px;
}
.movie_name {
  color: gold;
  border-radius: 10px;

  padding: 15px;
  margin-bottom: 20px;
}
abbr {
  color: rgb(0, 93, 100);
}
u {
  color: goldenrod;
}
img {
  color: chartreuse;
  border-radius: 15px;
  border: 3px solid gold;
  box-shadow: 0px 0px 60px;
  padding: 10px;
  margin-bottom: 20px;
}
video {
  color: chartreuse;
  border-radius: 15px;
  border: 3px solid gold;
  box-shadow: 0px 0px 60px;
  padding: 10px;
  margin-bottom: 20px;
}
mark {
  background-color: aqua;
  color: brown;
}
p {
  color: coral;
}
